/*
 * Theme definitions
 */

$themes: (
    roboto: (fontFamily: "Roboto Slab", fallbackFont: 'serif'),
    kumbh: (fontFamily: "Kumbh Sans", fallbackFont: 'sans-serif'),
    space: (fontFamily: "Space Mono", fallbackFont: 'monospace'),

    peach: (accentColor: hsl(0, 91%, 71%),
    ),
    aqua: (accentColor: hsl(182, 91%, 71%)),
    orchid: (accentColor: hsl(284, 89%, 74%)),


);

/*
Implementation of themes
   */
@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}


header,
main,
footer {
    
    @include themify($themes) {
        font-family: themed('fontFamily'), themed('fallbackFont');


        //   background-color: themed('backgroundColor');  
    }

    // .timer__ring {

        
    //     @include themify($themes) {
    //         accentColor: (themed('accentColor'))
    //     }
        
    //     box-shadow: 6px 6px 10px -1px, rgba(accentColor, .15), -6px -6px 10px -1px rgba($diamonds-in-the-sky, .7);

    // }

    .slider__input[type="radio"]:checked + .slider__label.accent,  .accent{

        transition: color 0.1s, border-color 0.1s, background-color 0.1s;

        @include themify($themes) {
            stroke: themed('accentColor');
            background-color: themed('accentColor');

        }
    }
}