@import url(https://fonts.bunny.net/css?family=kumbh-sans:400,700|roboto-slab:400,700|space-mono:400,700);

:root {
  --georgia-peach: hsl(0, 91%, 71%);
  --robins-egg-blue: hsl(182, 91%, 71%);
  --electric-orchid: hsl(284, 89%, 74%);
  --transparent-blue: #d6dfff;
  --black-market: #1e213f;
  --baby-powder: hsl(0, 0%, 100%);
  --distant-horizon: #eff1fa;
  --dark-knight: #161932;
  --quill-tip: #2e325a;
  --shadow-dancer: #121530;
  --liberty-blue: #0e112a;
  --diamonds-in-the-sky: #e3e1e1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100%;
}


body {
  font-size: 16px;
  font-weight: 700;
  color: var(--transparent-blue);
  background-color: var(--black-market);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.font-kumbh {
  font-family: 'Kumbh Sans', sans-serif;
}
.font-roboto {
  font-family: 'Roboto Slab', serif;
}
.font-space {
  font-family: 'Space Mono', monospace;
  font-size: 0.75rem;
}

h1 {
  font-size: 6.25rem;
  line-height: 7.5rem;
  letter-spacing: -0.313rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
}

h4 {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.313rem;
  text-transform: uppercase;
}

.body-font-primary {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.body-font-secondary {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.toggle ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 63px;
  width: 327px;
  left: 24px;
  top: 101px;
  border-radius: 31.5px;
  background-color: var(--dark-knight);
  z-index: 1;
  margin: 45px 24px;
}

.toggle ul li.active {
  color: var(--black-market);
}


.time {
  height: 300px;
  width: 300px;
  padding: 1rem;
  border-radius: 10rem;
  background: linear-gradient(
    315deg,
    var(--quill-tip) 0%,
    var(--liberty-blue) 100%
  );
  box-shadow: -50px -50px 100px var(--quill-tip),
    50px 50px 100px var(--shadow-dancer);
}

#time-progress-ring {
  background: radial-gradient(var(--dark-knight) 50%, transparent 51%),
  conic-gradient(transparent 0deg 220deg, var(--baby-powder) 220deg 360deg),
  conic-gradient(var(--georgia-peach) 0deg, var(--georgia-peach) 90deg, var(--georgia-peach) 180deg, var(--georgia-peach));
border-radius: 50%;
/* width: 120px; */
/* height: 120px; */
/* // For animations...
// transition: all 500ms ease-in;
// will-change: transform; */
  position: absolute;
  /* border: 0.5rem solid var(--georgia-peach); */
  /* border-radius: 10rem; */
  z-index: 0;
  height: 248px;
  width: 248px;
}
.time-details {
  position: absolute;
  z-index: 1;
  padding: 40px;
  height: 228px;
  width: 228px;
  border-radius: 50%;
  background-color: var(--dark-knight);
}

.current-time {
  font-size: 5rem;
  line-height: 6.5rem;
  margin: 5px 1rem;
}

/* Modal  */

.show {
  display: block;
}

.hide {
  display: none;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* TO-DO => animate background color to fade in/out */
  animation-name: animatemodal;
  animation-duration: 2500ms;
  /* animation: background-color 2000ms ease-in-out; */
}
.card {
  /* TO-DO => animate just the card to drop in/out from top */
}
/* Modal  Animation Section */

@keyframes animatemodal {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Settings Card */

.card {
  /* position: absolute; */
  margin-top: 46px;
  /* left: 24px; */
  min-height: 549px;
  width: 327px;
  background-color: var(--baby-powder);
  border-radius: 1rem;
  color: var(--dark-knight);
  padding: 0 1.5rem;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 36px;
}

.card-title,
label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  padding: 1.5rem 0;
}

label {
  min-height: 40px;
}

.card-title h2 {
  font-size: 20px;
  line-height: 25px;
}

hr {
  border: 1px solid var(--diamonds-in-the-sky);
  width: 100%;
}

.full {
  width: 327px;
}
.card-content {
  width: 100%;

  /* margin: 1.5rem 0; */
}

.card-content section {
  /* width: 100%; */
  margin: 1.5rem 0;
}
h4.section-title {
  margin-bottom: 18px;
}
form {
  /* margin: 1.5rem 0; */
}

.font-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Buttons */

button,
.btn {
  background-color: var(--georgia-peach);
  color: var(--baby-powder);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding: 18px 23px;
  border-radius: 26.5px;
  border: none;
}

button.btn-option:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-settings,
.btn-status {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.close-btn {
  height: 12.727922439575195px;
  width: 12.727922439575195px;
  background-color: transparent;
  align-items: center;
  padding: 0;
}

button.btn-option {
  height: 56px;
  width: 56px;
  text-align: center;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 10rem;
}

.font-options button.btn-option {
  background-color: var(--transparent-blue);
  color: var(--black-market);
  opacity: 0.73;
}

.font-options button.btn-option.active {
  background-color: var(--dark-knight);
  color: var(--baby-powder);
  opacity: 1;
}
.peach {
  background-color: var(--georgia-peach);
}

.blue {
  background-color: var(--robins-egg-blue);
}
.orchid {
  background-color: var(--electric-orchid);
}

.btn-apply {
  position: relative;
  z-index: 1;
  height: 53px;
  width: 140px;
  border-radius: 26.5px;
  top: calc(-53px / 2);
}
