.footer {
	
	height: 5rem;
	margin: 3rem auto 1rem auto;

	&__attribution {
		color: $transparent-blue;
		font-size: .75rem;
		@include body-primary-text;
		margin: .5rem;
		text-align: center;
		letter-spacing: normal;

		a {
			@include body-primary-text;
			color: $transparent-blue;
			letter-spacing: normal;
		
		}
	}
}