button,
 .btn {
     background-color: $georgia-peach;
     color: $baby-powder;
     font-size: 1.6rem;
     line-height: 2rem;
     font-weight: 700;
     text-align: center;
     padding: 18px 23px;
     border-radius: 26.5px;
     border: none;
 }

 button.btn-option:hover {
     cursor: pointer;
     opacity: 0.8;
 }

 .btn-settings,
 .btn-status {
     margin-bottom: 4.8rem;
     padding: 0;
     background-color: transparent;
     border: none;
 }

 .btn-close {
     height: 2rem;
     width: 2rem;
     background-color: transparent;
     align-items: center;
     padding: 0;
 }



 

 .btn-apply {
     position: absolute;
     z-index: 1;
     height: 5.3rem;
     width: 14rem;
     border-radius: 2.65rem;
     bottom: calc(-5.3rem / 2);
     margin: auto;
     left: calc(32.7rem/2 - 7rem);
     text-decoration: none;
 }