.settings {

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.75);
    @include flex(column, flex-start, center);
    /* initially hidden  */
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__container {
    z-index: 7;
    opacity: 0;
    transform: translate(0%, -100%) scale(.25);
    transition: all .4s .2s;
  }

  &__modal:target,
  &__modal:target &__container {
    /* show  */
    height: 100vh;
    width: 100vw;
    opacity: 1;
    visibility: visible;
  }

  &__modal:target &__container {
    transform: translate(0, 0) scale(1);
  }

  &__card {
    min-height: 549px;
    width: 327px;
    margin: 46px auto;
    background-color: $baby-powder;
    border-radius: 1.6rem;
    color: $dark-knight;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 36px;
    transition: all .2s;


    &--title,
    label {
      width: 100%;
      @include flex(row, space-between, center);

    }

    &--title {
      font-size: 2rem;
      line-height: 25px;
      padding: 1.5rem 0;
    }

    &--content {
      width: 100%;
    }

    &--instructions {}
  }

  &__form {}

  &__section {
    margin: 1.5rem 0;

    &--title {
      margin-bottom: 1.8rem;
    }

    &--label {
      min-height: 4rem;

      &-time {}
    }

    &--select {
      &-time {}
    }

    &--options {
      @include flex(row, center, center);

    }
  }
}