.hidden {
  display: none;
}

.settings {


  transition: all .4s .2s;

  &__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.85);


    &::after {
      content: '';
      z-index: 7;
    }
  }

  &__container {}


  &__modal:target &__container {
    // transform: translate(0, 0) scale(1);
  }

  &__card {
    min-height: 549px;
    width: 327px;
    margin: 46px auto;
    background-color: $baby-powder;
    border-radius: 1.6rem;
    color: $dark-knight;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 36px;
    transition: all .2s;
    position: relative;

    &--title {
      @include flex(row, space-between, center);
      font-size: 2rem;
      line-height: 25px;
      padding: 2.4rem;
      // padding-top: 2.4rem;
      // padding-top: 1.5rem;
      border-bottom: 1px solid $diamonds-in-the-sky;
    }

    &--instructions {}

    &--content {
      width: 100%;
      padding: 2.4rem;

      & section {
        width: 100%;
        // margin: 1.5rem 0;

        // &--title {
        //   margin-bottom: 1.8rem;
        // }
        & h4 {
          margin: 1.5rem;
        }

        & form {
          width: 100%;

          & label {

            @include flex(row, space-between, center);
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5rem;
            letter-spacing: 0px;
            text-align: left;
            color: hsla(234, 35%, 18%, 0.4);
            // margin: .4rem 0;

            & select {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.5rem;
              letter-spacing: 0px;
              text-align: left;
              color: $black-market;
              margin-bottom: .8rem;
              width: 14.0rem;
              // left: 0;
              // top: 0;
              border-radius: 1rem;
              border: none;
              background-color: $distant-horizon;
              padding: 1.5rem;

              &-time {}
            }

          }

        }

      }

      >section:not(:last-child) {
        // margin-top: 2.5rem;
        padding-bottom: 2.4rem;
        border-bottom: 1px solid $diamonds-in-the-sky;
      }
    }


  }

  &__section {
    @include flex(column, center, center);

    &--options {

      &-font label {
        background-color: $transparent-blue;
      }

      &-font,
      &-color {

        @include flex(row, center, center);
        // height: 4.0rem;
        width: 15.2rem;

        input[type="radio"] {
          opacity: 0;
          position: fixed;
          width: 0;
          appearance: none;
          -webkit-appearance: none;

          &.active-font +label{
            background-color: $dark-knight;
            color: $baby-powder;
            opacity: 1;
        }
        }

        label {
          height: 4rem;
          width: 4rem;
          text-align: center;
          padding: .9rem;
          margin: 0 1.6rem;
          border-radius: 50%;

          color: $black-market;
          opacity: 0.73;
          @include flex(row, center, center);
          // height: 4.0rem;
          width: 15.2rem;
        }

      }


    }
  }

}