.settings {
  // transition: all .5s .2s;

  &__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background: rgba(10, 12, 28, 0.5);
    @include flex(row, center, center);
    opacity: 1;

    &::after {
      content: '';
      z-index: 7;
    }

    &.hidden {
      opacity: 0;
      z-index: -1;
    }
  }


  &__card {
    min-height: 54.9rem;
    width: 32.7rem;
    background-color: $baby-powder;
    border-radius: $border-radius-card;
    color: $dark-knight;
    padding-bottom: 3.6rem;
    transition: all .5s;
    position: relative;

    &--title {
      @include flex(row, space-between, center);
      padding: $padding-default-mobile;
      border-bottom: 1px solid $distant-horizon;

      h2 {
        @include heading-medium-mobile;
      }
    }

    &--section {
      width: 100%;
      @include flex(column, center, center);

      &-title {
        margin: 1.5rem;
        @include heading-extra-small-mobile;
      }
    }

    form {
      width: 100%;

      & label {
        @include flex(row, space-between, center);
        @include body-text-primary;
        font-weight: $font-weight-display;
        text-align: left;
        color: hsla(234, 35%, 18%, 0.4);
        // margin: .4rem 0;

        & select {
          @include body-text-primary;
          font-weight: $font-weight-display;
          text-align: left;
          color: $black-market;
          margin-bottom: .8rem;
          width: 14.0rem;
          border-radius: 1rem;
          border: none;
          background-color: $distant-horizon;
          padding: 1.5rem;
        }
      }
    }

    &--content {
      width: 100%;
      padding: $padding-default-mobile;

      p {
        @include body-text-secondary;
      }

      >section:not(:last-child) {
        padding-bottom: $padding-default-mobile;
        border-bottom: 1px solid $distant-horizon;
      }
    }


  }

  &__options {

    &--font,
    &--color {
      @include flex(row, center, center);

      label {
        background-color: $transparent-blue;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        color: $black-market;
        opacity: 0.73;
        @include heading-medium-mobile;
        font-size: 1.5rem;
        line-height: 1.9rem;
        letter-spacing: 0;
        @include flex(row, center, center);

        &.font-sans {
          font-family: $font-family-kumbh-sans;
        }

        &.font-roboto {
          font-family: $font-family-roboto-slab;
          font-weight: $font-weight-body;
        }

        &.font-space {
          font-family: $font-family-space-mono;
          font-weight: $font-weight-body;
        }

        &.color-peach {
          background-color: $georgia-peach;
        }

        &.color-aqua {
          background-color: $robins-egg-blue;
        }

        &.color-orchid {
          background-color: $electric-orchid;
        }

        &:not(:last-child) {
          margin-right: 1.6rem;
        }
      }

      input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
        appearance: none;
        -webkit-appearance: none;

        &.active-font+label {
          background-color: $dark-knight;
          color: $baby-powder;
          opacity: 1;
        }

        &.active-color+label {
          opacity: 1;
          position: relative;

          &:after {
            content: url('/assets/icon-check.svg');
            color: $dark-knight;
            position: absolute;
          }
        }
      }
    }
  }
}


// &--instructions {}