.timer {
  position: relative;
  @include flex(column, center, center);
  width: 100%;
  margin: $padding-default-mobile auto 7.9rem;

  &__ring {
    position: relative;
    top: 0;
    left: 0;
    width: $circle-width-mobile;
    height: $circle-width-mobile;
    border-radius: 50%;
    padding: 3.5rem;
    background: linear-gradient(315deg, $quill-tip 0%, $liberty-blue 100%);
    box-shadow: -5rem -5rem 10rem $deep-sea, 5rem 5rem 10rem $shadow-dancer;

    &--progress {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 7;

      circle {
        position: absolute;
        z-index: 9;
        transition: 0.35s stroke-dashoffset;
        /* axis compensation */
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
      }
    }
  }

  &__details {
    position: absolute;
    @include flex(column, center, center);
    height: 26.7rem;
    width: 26.7rem;
    border-radius: 50%;
    background-color: $dark-knight;
    top: $circle-padding-mobile;
    left: $circle-padding-mobile;

    &--current-time {
      position: absolute;
      z-index: 8;
      @include heading-extra-large-mobile;
    }

    &--btn {
      position: absolute;
      top: 17.8rem;
      z-index: 11;
    }
  }

  &__current-status {
    @include heading-small-mobile;
  }
}

.visual {
  z-index: 7;
}