$georgia-peach: hsl(0, 91%, 71%);
$robins-egg-blue: hsl(182, 91%, 71%);
$electric-orchid: hsl(284, 89%, 74%);
$transparent-blue: hsl(227, 100%, 92%);
$black-market: hsl(235, 35%, 18%);
$baby-powder: hsl(0, 0%, 100%);
$distant-horizon: hsl(229, 52%, 96%);
$dark-knight: hsl(234, 39%, 14%);
$quill-tip: hsl(235, 32%, 27%);
$shadow-dancer: hsl(234, 45%, 13%);
$liberty-blue: hsl(234, 50%, 11%);
$diamonds-in-the-sky: hsl(0, 3%, 89%);

$font-size-default: 1.6rem;
$font-weight-default: 700;
$line-height-default: 1.6rem;

@mixin peachAccentColor {
  background-color: $georgia-peach;
}

@mixin blueAccentColor {
  background-color: $robins-egg-blue;
}

@mixin orchidAccentColor {
  background-color: $electric-orchid;
}