@import url(https://fonts.bunny.net/css?family=kumbh-sans:400,700|roboto-slab:400,700|space-mono:400,700);
.color-peach {
  background-color: #f87272; }

.color-aqua {
  background-color: #72f4f8; }

.color-orchid {
  background-color: #d882f8; }

/* Modal  Animation Section */
@keyframes animatemodal {
  from {
    top: -50rem;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.card {
  /* TO-DO => animate just the card to drop in/out from top */ }

@keyframes moveInLeft {
  /* initial state */
  0% {
    opacity: 0;
    transform: translateX(-16rem); }
  80% {
    transform: translateX(1.6rem); }
  /* final state */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(16rem); }
  80% {
    transform: translateX(-1.6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* set 1rem  to 10px */ }

body {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center; }

.mobile-only {
  display: contents; }

.desktop-only {
  display: none; }

input,
label {
  cursor: pointer; }

body {
  font-size: 1.6rem;
  font-weight: 700;
  color: #d6dfff;
  background-color: #1e213e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.313rem;
  text-transform: uppercase; }

/* Buttons */
button,
.btn {
  background-color: #f87272;
  color: white;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 18px 23px;
  border-radius: 26.5px;
  border: none; }

button.btn-option:hover {
  cursor: pointer;
  opacity: 0.8; }

.btn-settings,
.btn-status {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none; }

.btn-close {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  align-items: center;
  padding: 0; }

.font-options button.btn-option.active {
  background-color: #161932;
  color: white;
  opacity: 1; }

.btn-apply {
  position: absolute;
  z-index: 1;
  height: 5.3rem;
  width: 14rem;
  border-radius: 2.65rem;
  bottom: calc(-5.3rem / 2);
  margin: auto;
  left: calc(32.7rem/2 - 7rem);
  text-decoration: none; }

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem auto;
  width: 35.7rem;
  height: 7.3rem;
  background: #161932;
  border-radius: 3.15rem; }
  .slider__container * {
    z-index: 2; }
  .slider__container {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.4rem;
    letter-spacing: 4.2px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 3.15rem; }
  .slider__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 6.3rem;
    color: #1e213e;
    transition: color .15s ease-in; }
    .slider__input[type="radio"] {
      /* Hide the browser's default radio button */ }
      .slider__input[type="radio"]:not(:checked), .slider__input[type="radio"]:checked {
        display: none; }
  .slider__input[type="radio"]:checked + .slider__label {
    background-color: #f87272;
    z-index: 5;
    transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background-color 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
    transform: translate3d(1rem, 0, 0); }
  .slider__input[type="pomodoro-select"]:checked ~ .slider__indicator {
    transform: translateX(0); }
  .slider__input[type="short-break-select"]:checked ~ .slider__indicator {
    transform: translateX(100%); }
  .slider__input[type="long-break-select"]:checked ~ .slider__indicator {
    transform: translateX(200%); }
  .slider__label {
    width: 100%;
    height: 75%;
    border-radius: 3.15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 200ms ease-out;
    z-index: 4; }
    .slider__label:hover {
      background-color: #1e213e;
      color: white; }
  .slider__indicator {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 33%;
    transition: left 0.1s ease-out;
    height: 5.3rem;
    top: -.5rem;
    left: 0;
    border-radius: 3.15rem; }

.hidden {
  display: none; }

.settings {
  transition: all .4s .2s; }
  .settings__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.85); }
    .settings__modal::after {
      content: '';
      z-index: 7; }
  .settings__card {
    min-height: 549px;
    width: 327px;
    margin: 46px auto;
    background-color: white;
    border-radius: 1.6rem;
    color: #161932;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 36px;
    transition: all .2s;
    position: relative; }
    .settings__card--title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      line-height: 25px;
      padding: 2.4rem;
      border-bottom: 1px solid #e4e2e2; }
    .settings__card--content {
      width: 100%;
      padding: 2.4rem; }
      .settings__card--content section {
        width: 100%; }
        .settings__card--content section h4 {
          margin: 1.5rem; }
        .settings__card--content section form {
          width: 100%; }
          .settings__card--content section form label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.5rem;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(30, 33, 62, 0.4); }
            .settings__card--content section form label select {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.5rem;
              letter-spacing: 0px;
              text-align: left;
              color: #1e213e;
              margin-bottom: .8rem;
              width: 14.0rem;
              border-radius: 1rem;
              border: none;
              background-color: #eff1fa;
              padding: 1.5rem; }
      .settings__card--content > section:not(:last-child) {
        padding-bottom: 2.4rem;
        border-bottom: 1px solid #e4e2e2; }
  .settings__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .settings__section--options-font label {
      background-color: #d6dfff; }
    .settings__section--options-font, .settings__section--options-color {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 15.2rem; }
      .settings__section--options-font input[type="radio"], .settings__section--options-color input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
        appearance: none;
        -webkit-appearance: none; }
      .settings__section--options-font label, .settings__section--options-color label {
        height: 4rem;
        width: 4rem;
        text-align: center;
        padding: .9rem;
        margin: 0 1.6rem;
        border-radius: 50%;
        color: #1e213e;
        opacity: 0.73;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 15.2rem; }

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem; }
  .timer input {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px; }
  .timer__ring {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    padding: 3.5rem;
    box-shadow: 6px 6px 10px -1px rgba(22, 25, 50, 0.15), -6px -6px 10px -1px rgba(228, 226, 226, 0.7); }
    .timer__ring--inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 23rem;
      height: 23rem;
      border-radius: 50%;
      box-shadow: inset 4px 4px 6px -1px rgba(22, 25, 50, 0.15), inset -4px -4px 6px -1px rgba(228, 226, 226, 0.7), -0.5px -0.5px 0px #e4e2e2, 0.5px 0.5px 0px #161932, 0px 12px 10px -10px rgba(22, 25, 50, 0.05); }
    .timer__ring--progress {
      position: absolute;
      top: .5rem;
      z-index: 4;
      left: calc(50% - 15rem); }
      .timer__ring--progress-circle {
        transition: 0.35s stroke-dashoffset;
        /* axis compensation */
        transform: rotate(-90deg);
        transform-origin: 50% 50%; }
  .timer__details {
    position: absolute;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 228px;
    width: 228px;
    border-radius: 50%;
    background-color: #161932;
    top: 4rem; }
  .timer__current-time {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
    font-size: 5rem;
    line-height: 6.5rem;
    margin: 5px 1.6rem; }
    .timer__current-time--status {
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0.9rem;
      text-transform: uppercase; }

.footer {
  height: 5rem;
  margin: 3rem auto 1rem auto; }
  .footer__attribution {
    color: #d6dfff;
    font-size: .75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 4.2px;
    text-align: justify;
    margin: .5rem;
    text-align: center;
    letter-spacing: normal; }
    .footer__attribution a {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 4.2px;
      text-align: justify;
      color: #d6dfff;
      letter-spacing: normal; }

.header {
  height: 5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 4.2px;
  text-align: justify; }

.info__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: left;
  font-size: 1.75rem; }

.info__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(30, 33, 62, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  z-index: 2; }
  .info__details:target {
    height: 100vh;
    width: 100%;
    opacity: 1;
    visibility: visible; }

.info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 0;
  background-color: #e4e2e2;
  color: #121530;
  padding: 3rem 2rem 3rem 3rem;
  opacity: 0;
  visibility: hidden;
  transition: all .4s .2s; }
  .info__content:target {
    opacity: 1;
    width: 32.7rem;
    height: 100%; }
  .info__content p {
    margin-bottom: 1rem;
    font-size: 1.5rem; }
  .info__content hr {
    border: 1px solid #f87272;
    margin: 2rem auto; }
  .info__content ul li {
    color: #121530;
    margin-left: .75rem;
    margin-bottom: .75rem;
    font-size: 1.25rem; }

/*
 * Theme definitions
 */
/*
Implementation of themes
   */
.theme-roboto header, .theme-roboto
main, .theme-roboto
footer {
  font-family: "Roboto Slab", "serif"; }

.theme-kumbh header, .theme-kumbh
main, .theme-kumbh
footer {
  font-family: "Kumbh Sans", "sans-serif"; }

.theme-space header, .theme-space
main, .theme-space
footer {
  font-family: "Space Mono", "monospace"; }

.theme-peach header, .theme-peach
main, .theme-peach
footer { }

.theme-aqua header, .theme-aqua
main, .theme-aqua
footer { }

.theme-orchid header, .theme-orchid
main, .theme-orchid
footer { }

header .slider__input[type="radio"]:checked + .slider__label.accent, header .accent,
main .slider__input[type="radio"]:checked + .slider__label.accent,
main .accent,
footer .slider__input[type="radio"]:checked + .slider__label.accent,
footer .accent {
  transition: color 0.1s, border-color 0.1s, background-color 0.1s; }
  .theme-peach header .slider__input[type="radio"]:checked + .slider__label.accent, .theme-peach header .accent, .theme-peach
  main .slider__input[type="radio"]:checked + .slider__label.accent, .theme-peach
  main .accent, .theme-peach
  footer .slider__input[type="radio"]:checked + .slider__label.accent, .theme-peach
  footer .accent {
    stroke: #f87272;
    background-color: #f87272; }
  .theme-aqua header .slider__input[type="radio"]:checked + .slider__label.accent, .theme-aqua header .accent, .theme-aqua
  main .slider__input[type="radio"]:checked + .slider__label.accent, .theme-aqua
  main .accent, .theme-aqua
  footer .slider__input[type="radio"]:checked + .slider__label.accent, .theme-aqua
  footer .accent {
    stroke: #72f4f8;
    background-color: #72f4f8; }
  .theme-orchid header .slider__input[type="radio"]:checked + .slider__label.accent, .theme-orchid header .accent, .theme-orchid
  main .slider__input[type="radio"]:checked + .slider__label.accent, .theme-orchid
  main .accent, .theme-orchid
  footer .slider__input[type="radio"]:checked + .slider__label.accent, .theme-orchid
  footer .accent {
    stroke: #d882f8;
    background-color: #d882f8; }
